body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
/*table { border-collapse:collapse; border-spacing:0; }*/

/*地图windowInfo*/
#my-list .selected{
  background:rgba(0,0,0,0.2);
  width: 250px;
  margin-left: -30px;
  padding-left: 30px;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow: hidden;
}
#my-list .selected p{
  width: 220px;
}
.amap-info-content{
  background: none;
  border: none;
  padding: 0;
}
.amap-info-outer{
  background: none;
  border: none;
  padding: 0;
}
.amap-marker-label{
  padding: 0;
  border: none;
  background: none;
}
.amap-maptypecontrol{
  top: 87%;
  right: 2%;
}
.amap-info-close:link{
  text-decoration: none;
}
.info-type{
  width:46px;
  height:19px;
  font-size :12px;
  text-align :center;
  line-height :20px;
  color :#ffffff;
  background:rgba(173,173,173,1);
  border-radius:2px;
}
.info-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.info-title{
  width: 230px;
  height: 36px;
  font-size:16px;
  line-height: 36px;
  font-weight: bold;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
.info-time{
  width:165px;
  height:25px;
  background:rgba(0,0,0,0.5);
  border-radius:100px 0 0 100px;
  position:absolute;
  right: 0;
  bottom: 10px;
  color: #ffffff;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
}
.info-Interval{
  margin: 0 5px 0 0;
}
.projectLabelBox{
  width: 400px;
  text-align: center;
}
.projectLabel{
  padding: 5px 10px;
  border-radius:6px;
  opacity:0.75;
  font-size:12px;
  color:rgba(255,255,255,1);
  background:rgba(243,26,26,1)
}
/*设备地图infoWindow*/
/*.amap-ui-smp-ifwn-content-body {
   box-shadow: 0 0 0.5px rgba(0,0,100,.6);
   background: 0 0 #fff;
   border-radius: 2px;
   text-align: left;
   border: silver solid 1px;
   padding: 3px;
}*/
.info-container{
  width:200px;
  background:rgba(255,255,255,1);
  cursor:pointer;
  box-shadow:0px -1px 0px 0px rgba(0,0,0,0.02),0px 3px 6px 0px rgba(0,0,0,0.2);
}
.amap-ui-smp-ifwn-def-tr-close{
  position: absolute;
  right: 0;
  z-index: 999;
}
.amap-ui-smp-ifwn-content-body{
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
}
.amap-ui-smp-ifwn-def-tr-close:hover{
  background: none !important;
}
.info-content{
  width: calc(100% - 20px);
  padding: 0 10px;
  display: -webkit-box;
  justify-content: space-between;
}
.info-title1{
  font-size: 12px;
  width: 80%;
  padding: 2px 0 4px;
}
.runningColor{
  display: inline-block;
  vertical-align: bottom;
  background-color: #00ff00;
  width: 6px;
  height: 6px;
  box-shadow: 0px 0px 2px 4px #26c702;
  -moz-box-shadow: 0px 0px 2px 4px #26c702;
  -webkit-box-shadow: 0px 0px 2px 4px #26c702;
  border-radius: 50%;
}
.noColor{
  color:#A8A8AB;
  display: inline-block;
  vertical-align: bottom;
  background-color: #6f6f6f;
  width: 6px;
  height: 6px;
  box-shadow: 0px 0px 2px 4px #828282;
  -moz-box-shadow: 0px 0px 2px 4px #828282;
  -webkit-box-shadow: 0px 0px 2px 4px #828282;
  border-radius: 50%;
}
.deviceLabelBox{
  width: 300px;
  text-align: center;
  color: #ffffff;
}

.device_content{
  width: 300px;
  height: 100px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-around;
  background: #ffffff;
}
.device_img{
  width: 100px;
  height: 100px;

}
.device_info{
  width: calc(100% - 120px);
  height: 100px;
}
.device_name{
  font-size: 16px;
  font-weight: bold;
  font-family:PingFangSC-Medium;
  color: #333333;
}
.device_company{
  height: 12px;
  font-size: 12px;
  color: #999999;
  margin: 10px 0 30px 0;
}
.device_stateContent{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.device_state{
  color: #666666;
  font-size: 12px;
}
.device_details{
  color: #666666;
  cursor: pointer;
  font-size: 12px;
}
.device_details:hover{
  color: #2678FF !important;
}
.amap-ui-smp-ifwn-info-title{
  padding: 0 !important;
  border: none !important;
}
.amap-ui-smp-ifwn-combo-sharp{
  margin: -4px auto 0 !important;
}
.runningBackground{
  background: #24BCF7;
  padding:2px 10px;
  height: 20px;
  line-height: 20px;
  color:#ffffff;
  border-radius: 4px;
}
.noBackground{
  background: #A8A8AB;
  padding:2px 10px;
  height: 20px;
  line-height: 20px;
  color:#ffffff;
  border-radius: 4px;
}


/*模态框重置样式*/
.el-header{
  padding: 15px 20px 15px 25px !important;
}

.is-fullscreen{
  background: #f5f5f9;
}

.el-aside::-webkit-scrollbar-button { /*滚动条*/
  background-color:#FF7677;
}

.el-badge__content.is-fixed{
  top: 7px !important;
  right: 14px !important;
}

.el-dialog__header{
  padding: 0 !important;
}

.el-dialog__headerbtn{
  top:11px !important;
  font-size: 21px !important;
  z-index: 9999;
}
.el-dialog__body{
  padding: 0 !important;
  height: 100%;
}
/*表单重置样式*/
.el-form-item__label{
  line-height: 20px !important;
}
/*表格重置样式*/

body .el-table th.gutter {
  display: table-cell !important;
}

.el-table{
  font-size: 12px !important;
  /*background-color: rgba(79,80,89,0.2);*/
}
.el-table__expanded-cell{
  background-color: #E1E1E3 !important;
  color:#666666 !important;
}
/*.el-table__expanded-cell .el-table--enable-row-hover .el-table__body tr:hover>td{
  background: rgba(79,80,89,0.2);
  color:#666666;
}*/
.el-table__expanded-cell:hover{
  background-color: #E1E1E3 !important;

}
/*.el-table__expanded-cell tr td{
  background: rgba(79,80,89,0.2);
  border-bottom: rgba(79,80,89,0.2) !important;
  color: #666666;
}*/
/*.el-table__expanded-cell .el-table__header-wrapper .has-gutter tr th{
  background: rgba(79,80,89,0.2) !important;
  border-bottom: rgba(79,80,89,0.2) !important;
  color: #666666;
}*/
.el-table__expanded-cell[class*=cell]{
  padding: 20px 50px 20px 50px !important;
}
.el-button--mini{
  padding: 7px 7px !important;
}
/*.el-table::before{
  background-color: rgba(79,80,89,0.2);
}*/
.el-table__expanded-cell .el-table__header-wrapper .has-gutter{
  background-color: rgba(79,80,89,0.2);
}
/*.el-table__body tr.current-row>td{
  background-color: rgba(79,80,89,0.8);
  color: #ffffff;
}*/


.config-table{
  padding: 4px 0 !important;
}

.history-header{
  background: rgba(105,106,114,0.6) !important;
  color: #ffffff;
}
.h-header{
  background: rgba(105,106,114,0.6) !important;
}
/*.el-table__header-wrapper{
  background-color: #E1E1E3 !important;
}*/




