body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

/*地图windowInfo*/
.info-type{
  width:46px;
  height:19px;
  font-size :12px;
  text-align :center;
  line-height :19px;
  color :#ffffff;
  background:rgba(173,173,173,1);
  border-radius:2px;
}
.info-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.info-title{
  width: 230px;
  height: 36px;
  font-size:16px;
  line-height: 36px;
  font-weight: bold;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
.info-time{
  width:120px;
  height:27px;
  background:rgba(243,26,26,0.8);
  border-radius:100px 0 0 100px;
  position:absolute;
  right: 0;
  bottom: 10px;
  color: #ffffff;
  text-align: center;
  line-height: 27px;
  font-size: 12px;
}
/*重置element*/
.el-dialog__header{
  padding: 0 !important;
}
.el-dialog__headerbtn{
  top:11px;
  font-size: 21px;

}
.el-dialog__body{
  padding: 0 !important;
  height: 100%;
}
.is-fullscreen{
  background: #f5f5f9;
}

.el-aside::-webkit-scrollbar-button { /*滚动条*/
  background-color:#FF7677;
}

.el-badge__content.is-fixed{
  top: 7px;
  right: 14px;
}
/*重置element*/
.el-dialog__header{
  padding: 0 !important;
}
.el-dialog__headerbtn{
  top:11px;
  font-size: 21px;

}
.el-dialog__body{
  padding: 0 !important;
  height: 100%;
}
.is-fullscreen{
  background: #f5f5f9;
}




