body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

/*地图windowInfo*/
#my-list .selected{
  background:rgba(0,0,0,0.2);
  width: 250px;
  margin-left: -30px;
  padding-left: 30px;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow: hidden;
}
#my-list .selected p{
  width: 220px;
}
.amap-info-content{
  background: none;
  border: none;
  padding: 0;
}
.amap-info-outer{
  background: none;
  border: none;
  padding: 0;
}
.amap-marker-label{
  padding: 0;
  border: none;
  background: none;
}
.amap-maptypecontrol{
  top: 87%;
  right: 2%;
}
.amap-info-close:link{
  text-decoration: none;
}
.info-type{
  width:46px;
  height:19px;
  font-size :12px;
  text-align :center;
  line-height :20px;
  color :#ffffff;
  background:rgba(173,173,173,1);
  border-radius:2px;
}
.info-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.info-title{
  width: 230px;
  height: 36px;
  font-size:16px;
  line-height: 36px;
  font-weight: bold;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
.info-time{
  width:165px;
  height:25px;
  background:rgba(0,0,0,0.5);
  border-radius:100px 0 0 100px;
  position:absolute;
  right: 0;
  bottom: 10px;
  color: #ffffff;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
}
.info-Interval{
  margin: 0 5px 0 0;
}
/*模态框重置样式*/
.el-header{
  padding: 15px 20px 15px 25px !important;
}

.el-dialog__header{
  padding: 0 !important;
}
.el-dialog__headerbtn{
  top:11px;
  font-size: 21px;

}
.el-dialog__body{
  padding: 0 !important;
  height: 100%;
}
.is-fullscreen{
  background: #f5f5f9;
}

.el-aside::-webkit-scrollbar-button { /*滚动条*/
  background-color:#FF7677;
}

.el-badge__content.is-fixed{
  top: 7px;
  right: 14px;
}

.el-dialog__header{
  padding: 0 !important;
}
.el-dialog__headerbtn{
  top:11px;
  font-size: 21px;

}
.el-dialog__body{
  padding: 0 !important;
  height: 100%;
}
.is-fullscreen{
  background: #f5f5f9;
}

/*表格重置样式*/
.el-table{
  font-size: 12px;
  /*background-color: rgba(79,80,89,0.2);*/
}
.el-table__expanded-cell{
  background-color: #E1E1E3 !important;
  color:#666666;
}
/*.el-table__expanded-cell .el-table--enable-row-hover .el-table__body tr:hover>td{
  background: rgba(79,80,89,0.2);
  color:#666666;
}*/
.el-table__expanded-cell:hover{
  background-color: #E1E1E3 !important;

}
/*.el-table__expanded-cell tr td{
  background: rgba(79,80,89,0.2);
  border-bottom: rgba(79,80,89,0.2) !important;
  color: #666666;
}*/
/*.el-table__expanded-cell .el-table__header-wrapper .has-gutter tr th{
  background: rgba(79,80,89,0.2) !important;
  border-bottom: rgba(79,80,89,0.2) !important;
  color: #666666;
}*/
.el-table__expanded-cell[class*=cell]{
  padding: 20px 50px 20px 50px;
}
.el-button--mini{
  padding: 7px 7px;
}
/*.el-table::before{
  background-color: rgba(79,80,89,0.2);
}*/
.el-table__expanded-cell .el-table__header-wrapper .has-gutter{
  background-color: rgba(79,80,89,0.2);
}
/*.el-table__body tr.current-row>td{
  background-color: rgba(79,80,89,0.8);
  color: #ffffff;
}*/


.config-table{
  padding: 4px 0 !important;
}

.history-header{
  background: rgba(105,106,114,0.6) !important;
  color: #ffffff;
}
.h-header{
  background: rgba(105,106,114,0.6) !important;
}
/*.el-table__header-wrapper{
  background-color: #E1E1E3 !important;
}*/


